body,
html {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

/* header nav   */


.top-nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    padding: 20px 0;
    height: 102px;
}

.top-nav img.logo {
    max-width: 170px;
    max-height: 102px;
}

.top-nav .nav-item {
    margin-left: 20px;
    text-transform: uppercase;
}

.top-nav .nav-item:first-child {
    margin-left: 0;
}

.top-nav .nav-item .nav-link:hover {
    color: var(--bs-primary);
}

/* Slide Show */
.slide-holder {
    background: linear-gradient(to bottom right, var(--bs-blue), var(--bs-primary));
    position: relative;
    padding: 90px 0;
    margin-top: 102px;
}

.shapes>* {
    position: absolute;
    height: 100px;
    width: 100px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 1px 0 9px #45454505;
}

.shapes .circle {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    top: 30%;
    left: 25%;
}

.shapes .box {
    transform: rotate(45deg);
    border-radius: 1%;
    top: 40%;
    left: 35%;
}

.slide-holder .slide-image img {
    height: 460px;
}

.slide-holder .text-item {
    color: #c6d2e9;
}

.slide-holder .text-item.title {
    font-size: 120px;
    font-weight: bold;
    max-width: fit-content;
}

.slide-holder .text-item.sub-title {
    align-self: flex-end;
    color: #fff;
    font-size: 25px;

}

/* about  Show */
.about-holder {
    padding: 55px 0;

}

.about .about-img img {
    box-shadow: 1px 0 9px #45454505;

}

.about-text .text-title {
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.about-text .text-sub {
    font-size: 16px;
    font-weight: 300;
}


/* Gallery */
.gallery .section-title {
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.gallery .gallery-item-inner {
    margin: 25px;
    height: 350px;
    position: relative;
}

.gallery .gallery-item-inner img {
    object-fit: container;
    height: 100%;
    width: 100%;
}

.gallery .gallery-item-inner:hover .gallery-item-text {
    opacity: 1;
}

.gallery .gallery-item-inner .gallery-item-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s all ease-in-out;
    user-select: none;
    cursor: pointer;
}

.gallery .gallery-item-inner .gallery-item-text .item-title {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}

.gallery .gallery-item-inner .gallery-item-text .item-title:hover {
    color: var(--bs-yellow);
}

@media (max-width:560px) {
    .gallery .gallery-item-inner {
        margin: 25px 0;
    }

    .gallery-holder .container {
        padding: 0;
    }

    .gallery .gallery-item-inner {
        height: 250px;
    }

    /* .gallery .gallery-item-inner img {} */
}

/* footer  */

.footer-holder {
    background: linear-gradient(to right, var(--bs-blue), var(--bs-primary));
    position: relative;
    padding: 90px 0;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.footer>div {
    display: flex;
    flex-flow: column;
    color: #fff;
    margin-bottom: 30px;

}

.footer .footer_logo {
    max-width: 320px;
    max-height: 100px;  
    margin-bottom: 20px;
}
.footer_logo img{
    width: 100%;
    height: 100%;
}

.footer .social_media {
    font-size: 1.2em;
    display: flex;
    align-items: center;


}

.footer .social_media span {
    margin: 5px;
}

.footer .social_media span i:hover {
    color: var(--bs-yellow);
}

.footer .social_media i {
    color: #fff;
}

.footer .social_media span:first-child {
    font-size: 0.8em;
}

.footer .footer_title {
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.footer .contact_items {
    transition: 0.5s;
    margin-bottom: 10px;
}

.footer .contact_items span {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.footer .contact_items span i {
    color: var(--bs-yellow);
}

.footer .contact_items:hover {
    color: var(--bs-yellow) !important;
    cursor: pointer;
}

.footer .devlopers_info {
    font-weight: lighter;
}

/* login styling */

.login-inner {
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;

}
.btn-login {
    color:white;
    margin-top:20px;
    width: 100%;

}
.btn-login:hover {
    color:white;

}

.btn-show-all {
    width: 25%;
    padding: 15px 20px;
    transform: translateY(50%);
    position: relative;
    z-index: 3;
    box-shadow: 1px 1px 8px black;
    color: var(--bs-primary);
    font-size: 20px;
    font-weight: bold;
}
.btn-show-all:hover {
    color: var(--bs-primary);
    box-shadow: 0px 2px 12px black;
}

/* pagination links  */
.pagination-links{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5em;
    transform: translateY(50%);
    z-index: 2;
}
.pagination-links nav ul{margin: 0;}